@charset "UTF-8";
/* diamond is unbreakable (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #6D4190;
	text-align: center;
	letter-spacing: 1.5px;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 16px;
	color: white;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1.5vh 0;
}

header {
	background-color: #B71154;
}


/* MAIN */



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 2vh 0;
	background-color: #480F7C;
	font-size: 1.1em;
}

.more-link {
	color: black;
}

.more-link:active {
	color: #FAD30A !important;
}

.more-link:hover {
	color: #C73F75;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.2em;
}